:root {
  --white: #FFFFFF;
  --font-sm: 16px;
  --font-med: 28px;
  --font-lg: 32px;
  --body-font-family: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --header-font-family: '__polySans_cd426a', '__polySans_Fallback_cd426a', Helvetica, Arial, sans-serif;
  --gap-sm: 10px;
  --gap-md: 16px;
  --gap-lg: 24px;
  --gap-xl: 36px;
  --green: #64ffda;
  --grey: #8892b0;
  --lightGrey: #666;
  --blue: #03001C;
  --green-tint: rgba(100, 255, 218, 0.1);
  --teal: #00B2A9;
  --orange: #E43C40;
  --brown: #BC7844;
  --black: #040204;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--body-font-family)
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font-family);
}