.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  border-bottom: 3px solid black;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  border-bottom: 3px solid black;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: var(--lightGrey);
}

.sectionHeader {
  border-bottom: 1px solid black;
}

.capitalize {
  text-transform: capitalize;
}

.storiesHeight {
  min-height: 600px;
}

.imageContain {
  object-fit: contain;
}

.imageCover {
  object-fit: cover;
}

.spaceBetween {
  justify-content: space-between;
}

.smallGap {
  gap: 1em;
}
